<%- include("header"); -%>



<div class="box" id="heading">
  <h1> hey there </h1>
</div>

<div class="box">
  <p> This is one the websites made by Kashyap!</p>
  <p>Thank you for your visit :)</p>
</div>


<%- include("footer"); -%>
